.card {
    display: inline-block;
    /*float: left;*/
    width: 33%;
}

.container {
    word-wrap: break-word;
    text-align: center;
    margin: auto;
}

h1, p {
    font-family: Roboto, sans-serif;
    color: black;
}
