body {
    max-width: 3000px;
}

#header {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)),url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    background-color: #01233f;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    color: #c5c6c3;
    font-family: Roboto, sans-serif;
}

