.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
body, h1 {
    font-family: "Raleway", sans-serif;
    color : black;

}
body, html {
    height: 100%;
    color : black;
}
